<html>
  <head>
    <meta charset="utf-8">
    <title>OL Draw</title>
  </head>
  <body style="margin:0;height:100vh">
    <div id="app">
      <div class="col-md-9" style="padding-left:0">
        <div id="map"></div>
      </div>
      <div class="col-md-3" style="overflow:auto;height:100%">
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group" role="group">
              <button class="btn btn-default" :disabled="!addButton" @click="changeInteraction('add')">Dodaj</button>
              <button class="btn btn-default" :disabled="!removeButton" @click="deleteFeature">Usuń</button>
              <button class="btn btn-default" :disabled="!donutButton" @click="changeInteraction('donut')">Dodaj donut</button>
              <button class="btn btn-default" :disabled="!editButton" @click="changeInteraction('edit')">Edycja</button>
              <button class="btn btn-default" :disabled="!saveButton" @click="saveModify">Zapisz</button>
              <button class="btn btn-default" :disabled="!cancelButton" @click="cancelModify">Anuluj</button>
            </div>
          </div>
           <div class="col-md-6">
              <input type="radio" id="trim" value="trim" v-model="editMode">
              <label for="trim">Trim</label>
              <br>
              <!-- <input type="radio" id="cut" value="cut" v-model="editMode">
              <label for="cut">Cut</label> -->
            </div>
          <br><br>
          <div class="col-md-12">
            <div class="btn-group" role="group">
              <input type="radio" id="vertex" value="vertex" v-model="editTool" :disabled="!edit">
              <label for="vertex">Vertex</label>
              <br>
              <input type="radio" id="area" value="area" v-model="editTool" :disabled="!edit">
              <label for="area">Area</label>
            </div>
          </div>
        </div>
        <br>
        <p>Dodawanie</p>
        1. Kliknij Dodaj <br>
        2. Stwórz geometrię <br>
        3. Uzupełnij atrybuty i kliknij OK <br>
        5. Id musi być unikalne, nazwa służy do etykietowania <br>
        6. Przy tworzeniu drugiego poligonu widać snapowanie<br>
        7. W przypadku narysowania geometrii na istniejącej następuje docięcie<br>
        8. W przypadku narysowania geometrii w całości na istniejącej pojawia się alert 'Niepoprawna geometria'<br>
        9. W przypadku podania istniejącego ID alert o istniejącym<br><br>
        <p>Dodawanie donuta</p>
        1. Kliknij Dodaj donut <br>
        2. Kliknij miejsce środka donuta <br>
        3. Uzupełnij atrybuty i kliknij OK <br>
        4. Wszystkie założenia są tak jak przy zwykłym dodawaniu <br><br>
        <p>Usuwanie</p>
        1. Wybierz poligon na mapie <br>
        2. Kliknij Usuń <br><br>
        <p>Edycja</p>
        1. Wybierz poligon na mapie <br>
        2. Kliknij Edycja <br>
        3. Wybierz tryb edycji (area do dodawania obszaru rysowaniem, vertex do edycji węzłów) <br>
        3. Edytuj geometrię <br>
        4. Kliknij zapisz <br>
        5. Wszystkie założenia są tak jak przy zwykłym dodawaniu <br><br>
      </div>
      <add-modal id="add-modal" v-if="addModal" v-on:close-modal="savePolygon" :data="currentFeature"></add-modal>
      <donut-modal id="donut-modal" v-if="donutModal" v-on:close-modal="saveDonut" :data="currentFeature"></donut-modal>
    </div>
    <script type="text/javascript" src="./dist/bundle.min.js"></script>
  </body>
</html>
