<html>
  <head>
    <meta charset="utf-8">
    <title>OL Draw</title>
  </head>
  <body style="margin:0;height:100vh">
    <div id="app">
      <div class="col-md-9" style="padding-left:0">
        <div id="map"></div>
      </div>
      <div class="col-md-3" style="overflow:auto;height:100%">
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group" role="group">
              <button class="btn btn-default" :disabled="!addButton" @click="changeInteraction(addMode)"><i class="ci ci-add"></i></button>
              <button class="btn btn-default" :disabled="!removeButton" @click="deleteFeature"><i class="ci ci-delete"></i></button>
              <button class="btn btn-default" :disabled="!editButton" @click="changeInteraction('edit')"><i class="ci ci-edit"></i></button>
              <button class="btn btn-default" :disabled="!saveButton" @click="saveModify" style="height:44px">Zapisz</button>
              <button class="btn btn-default" :disabled="!cancelButton" @click="cancelModify" style="height:44px">Anuluj</button>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">Metoda dodawania</div>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="radio" id="add" value="add" v-model="addMode" :disabled="addButton">
                <label for="add">Free-hand polygon</label>
              </li>
              <li class="list-group-item">
                <input type="radio" id="donut" value="donut" v-model="addMode" :disabled="addButton">
                <label for="donut">Buffer (donut)</label>
              </li>
              <li class="list-group-item">
                <input type="radio" id="buffer" value="buffer" v-model="addMode" :disabled="addButton">
                <label for="buffer">Buffer (full)</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">Metoda geometryczna</div>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="radio" id="trim" value="trim" v-model="editMode">
                <label for="trim">Trim</label>
              </li>
              <li class="list-group-item">
                <input type="radio" id="cut" value="cut" v-model="editMode">
                <label for="cut">Cut</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">Metoda edycji</div>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="radio" id="vertex" value="vertex" v-model="editTool" :disabled="!edit">
                <label for="vertex">Vertex</label>
              </li>
              <li class="list-group-item">
                <input type="radio" id="area" value="area" v-model="editTool" :disabled="!edit">
                <label for="area">Area</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" v-if="geojsonRequest.length > 0">
          <pre v-highlightjs="geojsonRequest"><code class="javascript"></code></pre>
        </div>
      </div>
      <add-modal id="add-modal" v-if="addModal" v-on:close-modal="savePolygon" :data="currentFeature"></add-modal>
      <donut-modal id="donut-modal" v-if="donutModal" v-on:close-modal="saveDonut" :data="currentFeature"></donut-modal>
      <buffer-modal id="buffer-modal" v-if="bufferModal" v-on:close-modal="saveBuffer" :data="currentFeature"></buffer-modal>
    </div>
    <script type="text/javascript" src="./dist/bundle.min.js"></script>
  </body>
</html>
